<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <po-page-login
    [p-hide-remember-user]="hideRemember"
    [p-languages]="languages"
    [p-literals]="literals"
    [p-loading]="isLoading"
    (p-login-submit)="onSubmit($event)"
    [p-login-errors]="loginErrors"
    [p-logo]="logo"
    (p-password-change)="checkSpaces($event)"
    [p-password-errors]="passwordErrors"
  ></po-page-login>
</ion-content>
