.title {
  margin-left: 12px;
}

.button {
  margin-right: 6px;
}

canvas {
  display: block;
  border: 1px solid rgb(187, 178, 178);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}
