<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title po-font-subtitle"> Tab 2 </ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="button"
        (click)="manualSync()"
        [disabled]="syncing"
        shape="round"
      >
        <span #iconSpin class="material-symbols-outlined">{{syncIcon}}</span>
        <span class="po-font-text-large">&nbsp;{{syncText}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title po-font-subtitle"> Tab 2 </ion-title>
    </ion-toolbar>
  </ion-header>

  <po-page-edit
    [p-disable-submit]="!isLoaded || form.invalid"
    [p-literals]="literals"
    [p-title]="title"
    (p-cancel)="cancel()"
    (p-save)="isEdit ? edit() : onSubmit()"
  >
    <form
      *ngIf="!isSuccessful"
      class="form po-row"
      [formGroup]="form"
      (ngSubmit)="form.valid && onSubmit()"
    >
      <po-input
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="input"
        name="input"
        p-clean="true"
        [p-help]="form.get('input')?.hasError('required') && form.get('input')?.touched ? 'Failed Requirement' : 'Input Text Field'"
        p-label="Input"
        p-required="true"
        [p-show-required]="true"
      ></po-input>
      <po-email
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="email"
        name="email"
        p-clean="true"
        [p-help]="form.get('email')?.hasError('required') && form.get('email')?.touched ? 'Failed Requirement' : 'Input Email Field'"
        p-label="Email"
        [p-optional]="true"
      ></po-email>
      <po-login
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="login"
        name="login"
        p-clean="true"
        [p-help]="form.get('login')?.hasError('required') && form.get('login')?.touched ? 'Failed Requirement' : 'Input Login Field'"
        p-label="Login"
        p-required="true"
        [p-show-required]="true"
      ></po-login>
      <po-password
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="password"
        name="password"
        p-clean="true"
        [p-help]="form.get('password')?.hasError('required') && form.get('password')?.touched ? 'Failed Requirement' : 'Input Password Field'"
        p-label="Password"
        [p-optional]="true"
      ></po-password>
      <po-number
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="number"
        name="number"
        p-clean="true"
        [p-help]="form.get('number')?.hasError('required') && form.get('number')?.touched ? 'Failed Requirement' : 'Input Number Field'"
        p-label="Number"
        p-required="true"
        [p-show-required]="true"
      ></po-number>
      <po-decimal
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="decimal"
        name="decimal"
        p-clean="true"
        [p-help]="form.get('decimal')?.hasError('required') && form.get('decimal')?.touched ? 'Failed Requirement' : 'Input Decimal Field'"
        p-label="Decimal"
        [p-optional]="true"
      ></po-decimal>
      <po-combo
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="combo"
        name="combo"
        [p-cache]="true"
        [p-clean]="true"
        p-field-value="id"
        p-field-label="title"
        [p-filter-service]="isOnline ? comboApi : ''"
        [p-help]="form.get('combo')?.hasError('required') && form.get('combo')?.touched ? 'Failed Requirement' : 'Combo Selection List'"
        [p-infinite-scroll]="isOnline"
        p-label="Combo"
        [p-optional]="true"
        [p-options]="isOnline ? [] : items"
      ></po-combo>
      <po-multiselect
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="multiselect"
        name="multiselect"
        p-field-value="id"
        p-field-label="title"
        [p-help]="form.get('multiselect')?.hasError('required') && form.get('multiselect')?.touched ? 'Failed Requirement' : 'Multiselect Selection List'"
        p-label="Multiselect"
        [p-optional]="true"
        [p-options]="items"
      ></po-multiselect>
      <po-radio-group
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="radio_group"
        name="radio_group"
        [p-help]="form.get('radio_group')?.hasError('required') && form.get('radio_group')?.touched ? 'Failed Requirement' : 'Radio Group Field'"
        p-label="Radio Group"
        [p-optional]="true"
        [p-options]="radioOptions"
      ></po-radio-group>
      <po-checkbox-group
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="checkbox_group"
        name="checkbox_group"
        [p-help]="form.get('checkbox_group')?.hasError('required') && form.get('checkbox_group')?.touched ? 'Failed Requirement' : 'Checkbox Group Field'"
        p-label="Checkbox Group"
        [p-optional]="true"
        [p-options]="checkboxOptions"
      ></po-checkbox-group>
      <po-switch
        class="po-xl-4 po-lg-6 po-md-6 po-sm-12"
        formControlName="switch"
        name="switch"
        [p-help]="form.get('switch')?.hasError('required') && form.get('switch')?.touched ? 'Failed Requirement' : 'Switch Button'"
        p-label="Switch"
        p-label-off="false"
        p-label-on="true"
        p-optional="true"
      ></po-switch>
      <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
        <span>
          <span class="po-font-text-large-bold">Assine Aqui</span>
          <span class="po-font-text">&nbsp;(Obrigatório)</span>
        </span>
        <br />
        <canvas
          #canvas
          (touchstart)="drawStart($event)"
          (touchmove)="drawMoved($event)"
          width="400"
          height="200"
        ></canvas>
        <br />
        <div class="po-row">
          <po-button
            class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
            p-label="Apagar Assinatura"
            [p-danger]="true"
            (p-click)="drawClear()"
          ></po-button>
          <po-button
            class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
            p-label="Salvar Assinatura"
            p-kind="primary"
            (p-click)="drawSave()"
          ></po-button>
        </div>
      </div>
      <span style="height: 56px">&nbsp;</span>
    </form>
  </po-page-edit>
</ion-content>
