<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="manualSync()" [disabled]="syncing" shape="round">
        <span #iconSpin class="material-symbols-outlined">{{syncIcon}}</span>
        {{syncText}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <po-page-list
    id="container"
    [p-actions]="actions"
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="filter"
    p-title="Heroes"
  >
    <po-table
      [p-columns]="columns"
      [p-height]="500"
      [p-hide-table-search]="true"
      [p-hide-columns-manager]="true"
      [p-items]="items"
      [p-loading]="loadingTable"
      [p-loading-show-more]="loadingMore"
      (p-show-more)="loadMore()"
      [p-show-more-disabled]="getMore"
      [p-sort]="true"
      [p-striped]="true"
    ></po-table
  ></po-page-list>
</ion-content>
